hr.new1{
    border: 2px solid teal;
}
h1,h2,h3,h4{
    text-align: center;
    color: black;
    float: clear;
}
#grif{
    margin-left: 25%;
    margin-right: 25%;
}
button a{
    width:50px;
    height:50px;
    margin-right: 7%;
    margin-left: 7%;
    color: teal;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    }
#teal{
    color: teal;
    font-weight: bold;
}
*{
    background-color: #E9CE99;
    font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
}
p{
    text-align: center;
    margin: 5px;

}
table, td, th { border: 1px solid black;
    text-align: center;
font-size: 2vh;
color: teal; }

#hypno{
    height: 2vh;
    width: 2vh;
}
#home,#contact,#about{
    color: teal;
    font-weight: bold;
    text-align: center;
    font-size: 2vh;
}
#word{
    color: teal;
    font-weight: bold;
    text-align: center;
}

.show{
    margin: 0 auto;
    text-align: center;
    display: block;
    position: absolute;
}
#text{
    color: black;
    float: right;
}
img{
    opacity: 100;
    top: 0;
    float: right;
    height:250px;
    width: 200px;
    margin-right: 2%;
}
/*Computer*/
@media screen and (min-width: 768px){
    img{
        width: 500px;
        height: 500px;
        float: right;
        margin-right: 0.5%;
        border: solid black 5px;
        border-radius: 20px;
    }
    button a{
        text-align: center;
        float: center;
    }
    .container{
            text-align: center;
        
        }
        #skel, #cob{
            margin-left: 25%;
            margin-right: 25%;
            margin-bottom: 2%;
        }
        #grif{
            margin-bottom: 0.25%;
        }
    #wall{
        height: 400px;
        width: 400px;
        margin-bottom: 15px;
        display: block;
    }
    #album,#clock,#cobain,#griffin,#schedule,#skeleton{
        font-size: 25px; 
    }
    #griffin{
        text-align: center;
    }
    }
    #music{
        margin-top: 0%;
        margin-bottom: 5%;
        height: 700px;
        width: 400px;
        text-decoration: none;
        border: none;
    }
    h1,h2,h3,h4{
        font-size: 40px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 2%;
    }
    *{
        margin-left:5%;
        margin-right: 5%;
    }
    #home,#contact,#about{
        font-size: 30px;
        margin: 10%;
    }
    p{
        font-size: 30px;
        text-align: center;
    }
/*Iphone*/
@media screen and (max-width: 600px){
    img{
        width: 100px;
        height: 100px;
        float: right;
        border: solid teal 2px;
        border-radius: 5px;
    }
    button a{
        width:50px;
        height:50px;
        margin-right: 5%;
        margin-left: 5%;
        color: teal;
        font-weight: bold;
        text-decoration: none;
        font-size: 15px;
    }

    .container{
        text-align: center;
    }
    #wall{
        float: right;
        display: block;
        clear: right;
        margin-bottom: 5px;
    }
    #music{
       margin-top: 20%;
        height: 550px;
        width: 150px;
    }
    
    h1,h2,h3,h4{
        font-size: 25px;
    }

    #home, #about, #contact{
        font-size:20px;
        margin: 2%;
    }
    p{
        font-size: 15px;
        margin: 2%;
        text-align: center;
    }
    
}
