hr.new1{
    border: 2px solid teal;
}
h1,h2{
    text-align: center;
    color: black;
    font-size: 100%;
}
li{
    color: teal;
    font-size: 50px;
}
#social{
    color: teal;
    

}
#welcome{
    text-align: center;
    
}
#about,#portfolio, #contact{
    color: teal;
    font-weight: bold;
}
ul{
    color: teal;
}
*{
    background-color: #E9CE99;
    font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
}
div{
    position: relative;
    border: 1px black;
    height: 25%;
    float: right;
    margin-right: 32%;
    
}
img{
    opacity: 100;
    position: absolute;
    top: 0;
    left: 0;
    height:250px;
    width: 200px;
}
.fade-in-image{
    animation: fadeIn 2s;
}
@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity:1;}
}
.fade-out-image{
    animation: fadeOut 2s;
}
@keyframes fadeOut{
    0%{opacity: 1;}
    100%{opacity:0;}
}
/*Computer*/
@media screen and (min-width: 768px){
    img {
        width: 500px;
        height: 500px;
        float: left;
        margin-right: 4%;
        margin-bottom: 10%;
    }
   
    h1,h2{
        font-size: 500%;
    }
    #welcome{
        font-size: 100px;
    }
    #about, #portfolio, #contact{
        font-size: 200px;
    }
    li{
        font-size:200px;
    }
    *{
        margin-left:5%;
        margin-right: 5%;
    }
}
/*Iphone*/
@media screen and (max-width: 480px){
    img{
        background-image: url(mobile.png);
        background-repeat: no-repeat;
        background-size: contain;
        float: right;
        height: 125px;
        width: 125px;
    }

    }
    li{
        font-size: 105%;
    }
    h1,h2{
        font-size: 25px;
    }
    #welcome{
        font-size: 15px;
    }
    #about, #portfolio, #contact{
        font-size:105%;
        float: left;
    }
   
    
}
