.wrapper{
    height: 100vh; /*100% of the viewport height*/
    overflow-x: hidden; /*prevent horizontal scroll*/
    overflow-y: auto; /*allow vertical scroll*/
    perspective: 2px; /* simulate distance from viewport*/
}

.section{
    position: relative;
    height: 100vh;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.static{
    background: red;
}

.bg1::after{
    background-image: url("https://placekitten.com/g/900/700")
}
.bg2::after{
    background-image: url("https://placekitten.com/g/800/600")
}

.parallax::after{
    content:"";
    position: absolute;
    top: 0;
    bottom:0;
    right:0;
    left:0;
    z-index: -1;
    background-size:100%;
    /*Use a CSS transform to back image away from camera
    and scale it to fill the viewport*/
    transform: translateZ(-1px) scale(1.5);
}