body{
    font-family: "Calibri", sans-serif;
    background-color: #FF9900;
    color: black;
}
#wrapper{
    width:80%;
    margin: center;
}
.floatleft{
    float: left;
    margin-right: 2%;
}
.floatright{

}
nav ul{
    list-style-type: none;
}