hr.new1{
    border: 2px solid teal;
}
h1,h2,h3,h4{
    text-align: center;
    color: black;

}
*{
    background-color: #E9CE99;
}
#home,#contact,#portfolio{
    color: teal;
    font-weight: bold;
    text-align: center;
}
img{
    opacity: 100;
    top: 0;
    float: right;
    height:250px;
    width: 200px;
    margin-right: 2%;
}
/*Computer*/
@media screen and (min-width: 768px){
    img{
        width: 500px;
        height: 500px;
        float: right;
        margin-right: 0.5%;
    }
    h1{
        font-size: 100px;
    }
    #welcome{
        font-size: 50px;
    }

    
    *{
        margin-left:5%;
        margin-right: 5%;
    }
    #home,#contact,#portfolio{
        font-size: 50px;
        margin: 10%;
    }
}
/*Iphone*/
@media screen and (max-width: 600px){
    img{
        width: 100px;
        height: 100px;
        float: right;
    }
    h1{
        font-size: 25px;
    }
    #welcome{
        font-size: 15px;
    }
    #home, #portfolio, #contact{
        font-size:20px;
        margin: 2%;
    }
    ul{
        font-size:20px;
    }
    
}
