hr.new1{
    border: 2px solid teal;
}
h1{
    text-align: center;
    color: black;
}
*{
    background-color: #E9CE99;
}

img{
    opacity: 100;
    top: 0;
    float: right;
    height:250px;
    width: 200px;
    margin-right: 2%;
}
/*Computer*/
@media screen and (min-width: 768px){
    img{
        width: 500px;
        height: 500px;
        float: right;
    }
    h1{
        font-size: 100px;
    }
    #welcome{
        font-size: 50px;
    }
    #about, #portfolio, #contact{
        font-size: 100px;
    }
    ul{
        font-size:100px;
    }
    *{
        margin-left:5%;
        margin-right: 5%;
    }
}
/*Iphone*/
@media screen and (max-width: 600px){
    img{
        width: 100px;
        height: 100px;
        float: right;
    }
    h1{
        font-size: 25px;
    }
    #welcome{
        font-size: 15px;
    }
    #about, #portfolio, #contact{
        font-size:20px;
    }
    ul{
        font-size:20px;
    }
    
}
