hr.new1{
    border: 2px solid teal;
}
h1,h2,h3,h4{
    text-align: center;
    color: black;

}
#teal{
    color: teal;
    font-weight: bold;
}
*{
    background-color: #E9CE99;
    font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
}
p{
    float:left;
    margin: 5px;

}
#home,#contact,#about{
    color: teal;
    font-weight: bold;
    text-align: center;
}
img{
    opacity: 100;
    top: 0;
    float: right;
    height:250px;
    width: 200px;
    margin-right: 2%;
}
/*Computer*/
@media screen and (min-width: 768px){
    img{
        width: 500px;
        height: 500px;
        float: right;
        margin-right: 0.5%;
        border: solid teal 5px;
        border-radius: 20px;
    }
    #clock,#album,#schedule{
        width:300px;
        height:300px;
        margin-right: 5%;
        margin-left: 5%;
        color: teal;
        font-weight: bold;
        text-decoration: none;
        }
        .container{
            margin: 50%;
        
        }
    #wall{
        height: 400px;
        width: 400px;
        margin-bottom: 15px;
        display: block;
    }
    h1,h2,h3,h4{
        font-size: 50px;
    }
    *{
        margin-left:5%;
        margin-right: 5%;
    }
    #home,#contact,#about{
        font-size: 20px;
        margin: 10%;
    }
    p{
        font-size: 15px;
        float: left;
    }
}
/*Iphone*/
@media screen and (max-width: 600px){
    img{
        width: 100px;
        height: 100px;
        float: right;
        border: solid teal 2px;
        border-radius: 5px;
    }
    #clock,#album,#schedule{
        width:100px;
        height:100px;
        margin-right: 5px;
        margin-left: 5px;
        color: teal;
        font-weight: bold;
        text-decoration: none;
        
       
    }
    #wall{
        float: right;
        display: block;
        clear: right;
        margin-bottom: 5px;
    }
    h1,h2,h3,h4{
        font-size: 25px;
    }

    #home, #about, #contact{
        font-size:20px;
        margin: 2%;
    }
    p{
        font-size: 15px;
        margin: 2%;
        float: left;
    }
    
}
