hr.new1{
    border: 2px solid teal;
}
*{
    background-color: #E9CE99;
}
div{
    position: relative;
    border: 1px black;
    height: 300px;
}
img{
    opacity: 100;
    position: absolute;
    top: 0;
    left: 0;
    height:200px;
    width:150px;
}
.fade-in-img{
    animation: fadeIn 2s;
}
@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity:1;}
}
.fade-out-img{
    animation: fadeOut 2s;
}
@keyframes fadeOut{
    0%{opacity: 1;}
    100%{opacity:0;}
}