hr.new1{
    border: 2px solid teal;
}
h1{
    text-align: center;
    color: black;
}
*{
    background-color: #E9CE99;
}
div{
    position: relative;
    border: 1px black;
    height: 25%;
    float: right;
    margin-right: 32%;
}
img{
    opacity: 100;
    position: absolute;
    top: 0;
    left: 0;
    height:250px;
    width: 200px;
}
.fade-in-image{
    animation: fadeIn 2s;
}
@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity:1;}
}
.fade-out-image{
    animation: fadeOut 2s;
}
@keyframes fadeOut{
    0%{opacity: 1;}
    100%{opacity:0;}
}
/*Computer*/
@media screen and (min-width: 768px){
    img{
        width: 600px;
        height: 600px;
        float: left;
    }
    h1{
        font-size: 100px;
    }
}
/*Iphone*/
@media screen and (max-width: 600px){
    img{
        width: 100px;
        height: 100px;
        float: left;
    }
    h1{
        font-size: 25px;
    }
}