h1{
    text-align:center;
    color: rgb(119, 9, 9);
    margin: center; 
    background-color: #d8a9a9;
    font-family: Lucida, Sans Unicode, Helvetica, Arial, Sans Serif;
    font-style: bold;
    font-size: 22pt;
    text-decoration: underline;
}
*{
    background-color: pink;
}
#intrat #numy,#princ,#mon{
    margin-top: 5%;
    font-size: 11pt;
    color:rgb(119, 9, 9);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div{
    margin: 5%;
    background-color:white;
}

#buttons{
    margin-left: 35%;
    margin-right: 25%;
    color: #d8a9a9;
    font-weight: bold;
}
